<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <!--<link rel="stylesheet" type="text/css" href="style.css">-->
    </head>
    <body>
        <div class="app">
            <div class="screen join-screen active">
               <div class="form">
                  <h2>Share your files securely</h2>
                  <label for="Devices">Choose an available device:</label>
                     <select id="Devices">
                     <option label="Lap1"></option>
                     <option label="Lap2"></option>
                     <option label="Lap3"></option>
                     <option label="Lap4"></option>
                     </select>
                  <!--
                  <div class="form-input">
                     <button id="sender-start-con-btn">Create room</button> 
                  </div>
                  <div class="form-input" id="join-id">
                     <b>Room ID</b>               ROOM ID
                     <span>000-000-000</span>
                  </div>-->
               </div>
            </div>
            <div class="screen fs-screen active">
                <div class="file=input">
                    <label for="file-input">
                        Click here to select files
                    </label>
                    <input type="file" id="file-input">
                </div>
                <!--<div class="file-list">
                    <div class="title">Share files:</div>
                    <div class="item">
                        <div class="progress">0%</div>
                        <div class="filename">Abc.txt</div>
                    </div>  
                </div>-->
                <form>
                    <button type="button" onclick="window.location.href=''">Share</button>
            </div>
              <div class="file-list">
                    <div class="title">Share files:</div>
                    <div class="item">
                        <div class="progress">0%</div>
                        <div class="filename">Abc.txt</div>
                    </div>  
                </div>
            <!--<div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Active Devices</button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>-->
        </div>
    <script type="text/javascript" src="socket.io/socket.io.js"></script>
        <script type="text/javascript" src="code.js"></script>
    </body>
</html>